		*{
 margin : 0;
 padding: 0;
 box-sizing: border-box;
}

body {
    margin: 20px;
    font-family: sans-serif;
    word-break: keep-all;

}

p {
    margin: 3px;
    display: inline;
    padding: 3pt;
    height: 20px;
    font-size: 13pt;
    line-height: 26pt;
}

/*.print {
    text-align: right;
    margin-right: 2%;
    background-color: white;
}*/

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

iframe {
    margin-top: 15px;
    margin-bottom: 15px;
}

.jpg {
    background-color: goldenrod;
}

img {
    max-height: 100px;
    float: left;
    margin: 3px;
    background-color: goldenrod;
    padding: 5px;
    margin-right: 5px;
}


.pdf {
    background-color: cornflowerblue;
    display: none;

}

.html {
    background-color: peachpuff;
    text-align: justify;
    display: none;
    
}

.back {
    background-color: orangered;
}


